
.background-photo {
  margin-top: 0;
  background-image: url("http://i66.tinypic.com/20hptar.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.navbar-default {
  background-color: #30c4c9;
  border-color: #30c4c9;
  margin-bottom: auto;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0dfdf;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0dfdf;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #30c4c9;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-toggle {
  border-color: #30c4c9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #30c4c9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f0dfdf;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f0dfdf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f0dfdf;
    background-color: #30c4c9;
  }
}

.button-separator {
  margin-right: 2px;
}

#win-box-container {
 display: none;
 position: fixed;
 height: 100vh;
 width: 100vw;
 z-index: 15;
}

#win-box {
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 background-color: transparent;
 height: 100vh;
 width: 100vw;
 /*z-index: 15;*/
 /*z-index: 2;*/
}

#winner-gif {
 min-width: 100%;
 min-height: 100%;
}

.div-75-width {
  margin-left: 10%;
  width: 75%;
}

.div-image-width {
  max-width: 100%;
  max-height: 100%;
}
