
.background-photo {
  margin-top: 0;
  background-image: url("http://i66.tinypic.com/20hptar.jpg");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.reservation-photo {
  margin-top: 0;
  background-image: url("http://i65.tinypic.com/33xyja1.jpg");
  background-size: cover;
  background-position: center;
  height: 1400px;
}

.signin-photo {
  margin-top: 0;
  background-image: url("http://bit.ly/2m63bK2");
  background-size: cover;
  background-position: center;
  height: 1080px;
}


.create-user-photo {
  margin-top: 0;
  background-image: url("http://bit.ly/2kMWvAg");
  background-size: cover;
  background-position: center;
  height: 1080px;
}

.my-dining-experience-photo {
  margin-top: 0;
  background-image: url("http://bit.ly/2lqEruv");
  background-size: cover;
  background-position: center;
  height: 1080px;
}

.navbar-default {
  background-color: #30c4c9;
  border-color: #30c4c9;
  margin-bottom: auto;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0dfdf;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0dfdf;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #30c4c9;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0dfdf;
  background-color: #30c4c9;
}
.navbar-default .navbar-toggle {
  border-color: #30c4c9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #30c4c9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f0dfdf;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f0dfdf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f0dfdf;
    background-color: #30c4c9;
  }
}

.button-separator {
  margin-right: 2px;
}

#win-box-container {
 display: none;
 position: fixed;
 height: 100vh;
 width: 100vw;
 z-index: 15;
}

#win-box {
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 background-color: transparent;
 height: 100vh;
 width: 100vw;
 /*z-index: 15;*/
 /*z-index: 2;*/
}

#winner-gif {
 min-width: 100%;
 min-height: 100%;
}

.div-75-width {
  margin-left: 10%;
  width: 75%;
}

.div-image-width {
  max-width: 50%;
  max-height: 50%;
}

.img {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  border: ridge;
  border-radius: 50%;
}

.border-space {
  margin: 10px;
}

.centered {
  opacity: .95;

  border: 3px solid #32cd32;

  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  background-color: #FFF;
  border-radius: 25px;
  padding: 25px;
  transform: translate(-50%, -50%);
}

.centered-main {
  margin: 0 auto;
  width: 90%;
  opacity: .95;
  border: 4px solid #30c4c9;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  /*top: 30%;
  left: 50%;*/
  background-color: #FFF;
  border-radius: 25px;
  padding: 20px;

  /*transform: translate(-50%, -50%);*/
}

.vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.horizontal-helper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  vertical-align: middle;
}

.button-color-scheme {
  background-color: #30c4c9;
}

.lower-margin {
  margin-bottom: 5px;
}
